.sidebar-navigation{
  text-align: right !important;
}
#cappa-main{
     float: left!important;
}
#cappa-aside .cappa-main-menu,p {
     text-align: right !important;
}
.cappa-nav-toggle{
     right: 0;
left: auto !important;
}
@media screen and (max-width: 768px) {
    #cappa-aside {
        transform: translateX(270px) !important;
    }
    body.offcanvas #cappa-aside{
        transform: translateX(0) !important;
    }
    body.offcanvas #cappa-main, body.offcanvas .cappa-nav-toggle{
        transform: translateX(-270px) !important;
    }
}
